@using CT.AdminUI.Models.BaseTableDTOs
@model BaseTableDTO
@{
}

<div>
    <div class="table-responsive">
        <table id="@Model.TableID" class="table table-bordered" width="100%" cellspacing="0">
            <thead>
                <tr>
                    @foreach (var item in Model.TableHeads)
                    {
                        <th>@item</th>
                    }
                    <th class="text-center">Güncelle</th>
                    <th class="text-center">Sil</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.TableDatas)
                {
                    <tr>
                        @foreach (var detail in item.GetType().GetProperties())
                        {
                            <td>@item.GetType().GetProperty(detail.Name).GetValue(item)</td>
                        }
                        @if (Model.EditIsModal)
                        {
                            <td class="text-center">
                                @await Component.InvokeAsync("EditButton", new{ModalID = Model.EditBtnModalID})
                            </td>

                        }
                        else
                        {
                            <td>
                                <a class="btn btn-warning" asp-controller="@Model.EditBtnController" asp-action="@Model.EditBtnAction"><i class="fa-solid fa-pen-to-square" style="color:black;"></i> Güncelle</a>
                            </td>
                        }
                        <td class="text-center">
                            @await Component.InvokeAsync("DeleteButton", new{ModalID = Model.DeleteBtnModalID})
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
