@using CT.AdminUI.Models
@using Entity.DTO
@using System.Linq;
@using System.Reflection
@using System.Collections.Generic
@using System.ComponentModel
@model GenericViewModel
@{
    ViewData["Title"] = "ListItems";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Type modelType = Model.MyModel.GetType().GetProperties()[2].PropertyType;
    Type customListType = typeof(List<>).MakeGenericType(modelType);
   // var myList = Convert.ChangeType(Model.MyModel, customListType);
    
    //myList = Convert.ChangeType(Model.MyModel, customListType);

    //var asdf = myList.GetType().MakeArrayType().;

    var sadf = 5;
}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Araç Tanımlama / Listeleme</h1>
    <p class="mb-4">
        Kullanıcıların eklemiş olduğu araçları buradan inceleyip ve düzenleyebilirsiniz.
    </p>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Arama Kriterleri</h6>
        </div>
        <div class="card-body">
            <form class="row">
                
                <div class="col-md-9 col-sm-0"></div>
                <div class="col-md-3 col-sm-12">
                    <button class="btn btn-info btn-block" style="background-color: #2E86C1 ;" type="button"><i class="fa-solid fa-list" style="color:white;"></i>  Listele</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row mb-4 clearfix">
        <div class="col-md-3 float-right">
            <a class="btn btn-success btn-block " asp-controller="Car" asp-action="Edit"><i class="fa-solid fa-plus"></i> Araç Oluştur</a>
        </div>

    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Araç Listesi</h6>
        </div>
        <div class="card-body">
            <form asp-action="Index" method="get">
                <div class="form-actions">
                    <div class="row mt-3 mb-3">
                        <div class="col-md-4">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Plaka:</label>
                                </div>
                                <input type="text" class="form-control" name="SearchString" value="@ViewData["CurrentFilter"]" />
                            </div>
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-warning" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                        <div class="col-md-2">
                            <a asp-action="Index" class="btn btn-info">Hepsini Göster</a>
                        </div>
                    </div>
                </div>
            </form>
            <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            @foreach(var modelProperties in modelType.GetProperties()){

                                <th>@(modelProperties.GetCustomAttributes(typeof(DisplayNameAttribute), true).SingleOrDefault() != null ? modelProperties.GetCustomAttributes(typeof(DisplayNameAttribute), true).Cast<DisplayNameAttribute>().Single().DisplayName : modelProperties.Name)</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @*@foreach (var items in myList)
                        {
                            <tr>@items</tr>
                        }*@
                    </tbody>
                </table>

                @*@{
                    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                }*@

                @*<a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-pageNumber="@(Model.PageIndex - 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn btn-default @prevDisabled">
                    Önceki
                </a>
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-pageNumber="@(Model.PageIndex + 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn btn-default @nextDisabled">
                    Sonraki
                </a>*@
            </div>
        </div>
    </div>

</div>

@*@await Component.InvokeAsync("DeleteModal", new{title = "Aracı Sil", body="Aracı silmek istediğinize emin misiniz?", id="deleteCar"})*@


