@using Entity.DTO.BidCreate
@using Entity.DTO.Corparate
@using Entity.DTO.Pagination
@using System.Reflection
@using Entity.DTO.Status
@model CreateBidViewDTO
@{
    ViewData["Title"] = "İhale Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="container-fluid p-5">
    <form class="row" asp-controller="Bid" asp-action="Create" method="post" enctype="multipart/form-data">
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">İhale Tanımlama / Listeleme</h1>
        <p class="mb-4">
            Kullanıcıların eklemiş olduğu ihaleleri buradan inceleyebilir ve düzenleyebilirsiniz.
        </p>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Arama Kriterleri</h6>
            </div>
            <div class="card-body">

                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="exampleFormControlSelect1">İhale Adı</label>
                        <input class="form-control" id="exampleFormControlSelect1" name="DTO.BidName" type="text" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="exampleFormControlSelect1">Şirket Adı</label>
                        <select class="form-control" id="exampleFormControlSelect1" name="DTO.CompanyName"
                                @foreach (var item in Model.CorparateList)
                                {
                                    <option value="@item.CorparateName">@item.CorparateName</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="exampleFormControlSelect1">Statu</label>
                        <select class="form-control" id="exampleFormControlSelect1" name="DTO.Status"
                                @foreach (var item in Model.StatusList)
                                {
                                        <option value="@item.Name">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="exampleFormControlSelect1">İhale Başlangıç Tarihi</label>
                        <input type="date" value="" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="exampleFormControlSelect1">İhale Başlangıç Saati</label>
                        <input type="time" class="form-control">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="exampleFormControlSelect1">İhale Bitis Tarihi</label>
                        <input type="date" value="" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="exampleFormControlSelect1">İhale Bitis Saati</label>
                        <input type="time" class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="exampleFormControlSelect1">İhale Bitis Saati</label>
                        <div class="btn-group btn-group-toggle form-control p-0" data-toggle="buttons">
                            <label class="btn btn-outline-success active">
                                <input type="radio" value="true" name="DTO.CustomerType" id="DTO.CustomerType 1"> Bireysel
                            </label>
                            <label class="btn btn-outline-danger">
                                <input type="radio" value="false" name="DTO.CustomerType" id="DTO.CustomerType 2"> Kurumsal
                            </label>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">İhale Listesi</h6>
            </div>
            <div class="card-body">
                <div>
                    <div class="table-responsive">
                        <table class="table table-bordered" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Plaka</th>
                                    <th>Marka</th>
                                    <th>Model</th>
                                    <th>Fiyat</th>
                                    <th class="text-center">Sil</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.CarList)
                                {
                                    <tr>
                                        <td>@item.Plate</td>
                                        <td>@item.CarBrand</td>
                                        <td>@item.CarModel</td>
                                        <td>@item.Price</td>
                                        <td class="text-center">
                                            @await Component.InvokeAsync("DeleteButton", new{ModalID = item.Plate})
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@await Component.InvokeAsync("DeleteModal", new{title = "İhaleyi Sil", body="İhaleyi silmek istediğinize emin misiniz?", id="deleteCar"})

@await Component.InvokeAsync("ActivationModal", new{title = "İhaleyi Aktif Et", body="İhaleyi aktif hale getirmek istediğinize emin misiniz?", id="activation"})
